// COLORS

$leafgreen: #63c572;
$grey: #44444a;
$white: white;
$lightgrey: #F1F1F1;
$black: #000000;

// FONT

$PrimaryFont: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;



