@import '_essentials';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
  list-style: none;
}

/*NAV BAR */

header {
  background-color: $white;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;

  .logo {
    text-align: center;
    h2 {
      color: $leafgreen;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2.813rem;
    li {
      font-weight: bold;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.navbar-link {
  font-size: 1.25rem;
  display: none;
}

.navbar-link-toggle {
  display: none;
}

.hero-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../img/mop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.25;
  }
  h1 {
    position: relative;
    color: $white;
    font-size: 2rem;
    span {
      color: $leafgreen;
    }
  }
  p {
    position: relative;
    margin: 2rem;
    color: $white;
    font-weight: bold;
  }

  .btn {
    position: relative;
    display: flex;
    gap: 1rem;
    a:nth-child(1) {
      @include button1;
    }
    a:nth-child(2) {
      @include button2;
    }
  }
}
/* ABOUT */
.about {
  background-color: $lightgrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.7rem;
    padding: 1rem;
    color: $grey;
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .firstgrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 3rem;
  }
}

.card {
  background-color: $white;
  max-width: 400px;
  max-height: 400px;
  @include box-shadow;

  .content {
    padding: 4.0625rem;
    font-size: 13.5px;
  }
  .dot {
    height: 70px;
    width: 70px;
    background-color: $leafgreen;
    border-radius: 50%;
    display: inline-block;
  }
}

/* SERVICES */

.services {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1.7rem;
    padding: 8px;
    color: $grey;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: auto;
  }

  .secondgrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 3rem;
  }
}

.card2 {
  background-color: $lightgrey;
  max-width: 400px;
  max-height: 400px;
  @include box-shadow;
  .content {
    padding: 4.0625rem;
    font-size: 13.5px;
  }
  .dot {
    height: 70px;
    width: 70px;
    background-color: $leafgreen;
    border-radius: 50%;
    display: inline-block;
  }
}

/*ADVERTISEMENT*/
.advertise-section {
  min-height: 20vh;
  background-color: $leafgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  p {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
  }
}

/* REVIEWS */

.review-section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  .title{
    width:90%;
    text-align: center;
    margin: auto;
    background-color: lightcoral;
    font-size: 1.7rem;
    padding: 11px;
  }
  .dot {
    height: 100px;
    width: 100px;
    background-color: $leafgreen;
    border-radius: 50%;
    display: inline-block;
  } 
}

.container-review{
  padding: 11px;
  width: 90%;
  margin: auto;
  display:grid;
  grid-gap: 1rem;
  .client-reviews{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
    background-color: lightcyan;
  }
}

/*FORMS*/
.form-section {
  min-height: 60vh;
  position: relative;
  background-color: #000;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../img/mop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.25;
  }
}

.class-title {
  position: relative;
  width: 90%;
  font-size: 2rem;
  color: $white;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  span {
    color: $leafgreen;
  }
  p {
    display: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: auto;
  padding: 1.5rem;
  position: relative;
}

input[type],
textarea {
  padding: 1rem;
  font-size: 20px;
  border-radius: 5px;
}

input[type='submit'] {
  background-color: $leafgreen;
  color: white;
  font-weight: bold;
}

/*FOOTER*/
footer {
  min-height: 5vh;
  background-color: black;
  p {
    color: white;
    text-align: center;
    padding: 1rem;
    width: 80%;
    margin: auto;
    span {
      color: $leafgreen;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .navbar {
    flex-direction: row;
    .navbar-link {
      display: block;
    }
  }

  .nav-items {
    display: none;
  }

  .navbar-ToggleShow {
    display: flex;
    ul {
      gap: 1.4065rem;
      text-align: center;
      flex-direction: column;
    }
  }

  .hero-section h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .hero-section p {
    text-align: center;
  }

  .advertise-section {
    flex-direction: column;
    p {
      font-size: 1rem;
    }
  }
  footer p {
    font-size: 12.5px;
  }

  form {
    width: 90%;
  } 
}

@media only screen and (min-width: $largedesktops) {
  .about {
    min-height: 70vh;
    .firstgrid {
      flex-direction: row;
    }
  }
  .services {
    min-height: 70vh;
    .secondgrid {
      flex-direction: row;
    }
  }

  .container-review{
    grid-template-columns: repeat(3,1fr);
  }
}
